@model IEnumerable<ArtGallery.Models.Product.ProductIndexVM>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Artist: <input type="text" name="SearchStringArtistName" />
        Category: <input type="text" name="SearchStringCategoryName" />

        <input type="submit" value="Filter" />
    </p>
</form>

@* <div>
   <form>
  <div class="form-row align-items-center">
    
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Search by title</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search by title">
      </div>
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
  </div>
</form>
</div>
 *@

@* <div class="w-100 d-flex flex-wrap">
    @for(int i=1; i<4;i++)
    {
        <div class="card mx-2 mb-4" style="width: 16rem;">
            <img src="..." class="card-img-top" alt="product img" />
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Description</p>
                <a href="#" class="btn btn-dark">GoSomewhere</a>
            </div>

        </div>
    }

</div> *@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount) %
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
